.topbar-container {
    height: 60px;
    width: 100%;
    background-color: #1877f2;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo {
    font-size: 30px;
    font-weight: 800;
    margin-left: 20px;
    color: white;
    cursor: pointer;
}

.topbar-left {
    flex: 3;
}

.topbar-center {
    flex: 5;
}

.search-bar {
    width: 100%;
    height: 35px;
    border-radius: 30px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.search-bar-icon {
    font-size: 20px!important;
    margin-left: 10px;
}

.search-bar-input {
    width: 90%;
    border: none;
}

.search-bar-input:focus {
    outline: none;
}

.topbar-right {
    flex: 4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.topbar-links {
    display: flex;
    gap: 0.5em;
}

.topbar-icons {
    display: flex;
    align-items: center;
    gap: 1em;
}

.topbar-icon-item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;
}

.topbar-icon-badge {
    background: red;
    font-size: 12px;
    font-weight: bold;
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -5px;
    right: -5px;
}

.topbar-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
